{minimum_otp_version, "20.0"}.
{project_plugins, [rebar3_ex_doc, rebar3_hex]}.
{profiles,
    [{test, [
        {deps, []}
    ]}
]}.
{ex_doc, [
    {source_url, <<"https://github.com/hnc-agency/gen_errand">>},
    {extras, [<<"README.md">>, <<"LICENSE">>]},
    {main, <<"readme">>}
]}.
{hex, [{doc, ex_doc}]}.
